{% extends 'core/base.html' %}

{% block content %}
  
  <div id="PlantListWrapper">
    <h1>All Plants:</h1>
    {% if plant_list %}
    <ul>
        {% for plant in plant_list %}
        <li><a href="/{{ plant.id }}/">{{ plant.plant_name}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No plants are available.</p>
    {% endif %}
  </div>

  <div id="PlantListWrapper">
    <h2>See what you can plant right now:</h2>
        <p><a href="/plantnow">What can I plant right now? </a></p>
  </div>

  {% endblock content %}