{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vancouver Garden Planner</title>
  <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
  <header>
    <h1>Vancouver Garden Planner</h1>
  </header>

  <main>
  
  <div id="PlantListWrapper">
    <h1>All Plants:</h1>
    {% if plant_list %}
    <ul>
        {% for plant in plant_list %}
        <li><a href="/{{ plant.id }}/">{{ plant.plant_name}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No plants are available.</p>
    {% endif %}
  </div>

  <div id="PlantListWrapper">
    <h2>See what you can plant right now:</h2>
        <p><a href="/plantnow">What can I plant right now? </a></p>
  </div>
  </main>

  <footer>
    <p>&copy; 2023 Vancouver</p>
  </footer>
</body>
</html>