{% extends 'core/base.html' %}

{% block content %}
    
<div id="HeadingWrapper">
    <h1>Garden Planner</h1>
    <p>Do you have too many seeds and keep forgetting about half of them? Welcome to your garden planner and seed inventory on the internet!</p>
    <p>Below you will find an overview of plants in your database. </p>
    <p>Select one of them to get more information, and see what matching seed varieties you have in your inventory.</p>
    <p></p>
  </div>
  
  <div id="PlantListWrapper">
    <h2>Check out some of your plants:</h2>
    {% if latest_plants_list %}
    <ul>
        {% for plant in latest_plants_list %}
        <li><a href="/{{ plant.id }}/">{{ plant.plant_name}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No plants are available.</p>
    {% endif %}
  </div>

  <div id="PlantListWrapper">
    <h2>What else can I do?</h2>
        <p><a href="/plantnow">See what you can plant right now </a></p>
        <p><a href="/all_plants">See all plant information </a></p>
        <p><a href="/all_seeds">See all seeds in the database </a></p>
        
  </div>

  {% endblock content %}

  {% block return_home %}{% endblock return_home %}
