{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>plant info</title>
  <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>

<body>

    <header>
        <h1>Vancouver Garden Planner</h1>
      </header>

      <main>

    <div id="PlantListWrapper">
        <h1>{{plant_info.plant_name}} </h1>
        <p>Family name: {{plant_info.family_name}}</p>
        <p>Plants per Sqare foot: {{plant_info.plants_per_sqf}} </p>
        {% if plant_info.sun_exposure %}
        <p>Exposure: {{plant_info.get_sun_exposure_display}} </p>
        {% endif %}
    </div>
    <div id="PlantListWrapper">
        <h2> Vancouver planting dates:</h2>
        <p> Indoor seeding: {{plant_info.YVR_in_seedDate_start |date:"d F" }}- {{plant_info.YVR_in_seedDate_stop |date:"d F" }}</p>
        <p> Transplant: {{plant_info.YVR_tpDate_start |date:"d F" }}- {{plant_info.YVR_tpDate_stop |date:"d F" }}</p>
        <p> Outdoor seeding: {{plant_info.YVR_out_seedDate_start |date:"d F" }}- {{plant_info.YVR_out_seedDate_stop |date:"d F" }}</p>
    </div>

    {% if plant_info.notes %}
    <div id="NotesWrapper">
        <h3> Notes: </h3>
        <p> {{plant_info.notes}}</p>
    </div>
    {% endif %}

    <div id="PlantListWrapper">
        <h2>Varieties in Seed Inventory:</h2>
        {% if variety_list %}
            <ul>
                {% for plant in variety_list %}
                <li><a href="/seedinventory/{{ plant.id }}">{{ plant.seed_name}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
        <p>No plants are available.</p>
        {% endif %}
    </div>

    <div id="BottomNavigation">
        <p> <a href="/">Return Home</a></p>
    </div>
    </main>

    <footer>
        <p>&copy; 2023 Vancouver</p>
      </footer>

</body>
</html>