{% extends 'core/base.html' %}

{% block content %}

    <div id="PlantListWrapper">
      <h1>{{plant_info.plant_name}} Varieties: </h1>
      {% if variety_list %}
      <ul>
          {% for plant in variety_list %}
          <li><a href="/seedinventory/{{ plant.id }}">{{ plant.seed_name}}</a></li>
          {% endfor %}
      </ul>
      {% else %}
      <p>No plants are available.</p>
      {% endif %}

      <p>Return to <a href="/{{ plant_info.id }}">{{ plant_info.plant_name}} overview.</a></p>

    </div>

{% endblock content %}